.coluna-esquerda {
    width: 70%;
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;

}

.coluna-direita {
    width: 30%;    
    float: right;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    
}

.colunas {
    background-color:  rgb(72, 148, 247);
    width: 100%;
    margin: 1% 0;
}