.separacao {
    padding-top: 60px;
}



.background {
    background: #efefef;
   
}

.img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 5px solid #fff;
    
}

.map {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.form {
    width: 100%;
    display: block;
    box-sizing: border-box;
}