.box {
    background: #e7e7e7;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
}

.container {
    position: relative;
}

.map {
    width: calc(50% - 30px);
    height: calc(100% - 60px);
    position: absolute;
    top: 30px;
    right: 0;
}

.map iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}