.carousel-item {
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-1 {
    background-image: url(foto1.jpg);
    
   
}

.carousel-item-2 {
    background-image: url(foto2.jpg);
}

.carousel-item-3 {
    background-image: url(foto3.jpg);
    background-position: center top;
}