.img {
    width: 100%;
    height: 100%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

.div {
    background: #233d4d;
    padding: 10px;
    margin-bottom: 10px;
    
}

.container {
    margin-top: 10px;
    margin-bottom: 5px;
}

.col {
    background:  #b8cacb ;
}

.a {
    color: black;
}

.card {
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: black;
}